<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Argu" version="3.0.0" targetFramework="net461" />
  <package id="DynamicInterop" version="0.7.4" targetFramework="net461" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net461" />
  <package id="FSharp.Data" version="2.3.2" targetFramework="net461" />
  <package id="FSharpx.Collections" version="1.15.2" targetFramework="net461" />
  <package id="FSharpx.Core" version="1.8.32" targetFramework="net461" />
  <package id="FsPickler" version="2.1.0" targetFramework="net461" />
  <package id="FsPickler.Json" version="2.1.0" targetFramework="net461" />
  <package id="MBrace.Azure" version="1.4.3" targetFramework="net461" />
  <package id="MBrace.Azure.Management" version="1.4.0" targetFramework="net461" />
  <package id="MBrace.Core" version="1.3.0" targetFramework="net461" />
  <package id="MBrace.Flow" version="1.3.0" targetFramework="net461" />
  <package id="MBrace.Runtime" version="1.3.0" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net461" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net461" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net461" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.9.6.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net461" />
  <package id="R.NET.Community" version="1.6.5" targetFramework="net461" />
  <package id="R.NET.Community.FSharp" version="1.6.5" targetFramework="net461" />
  <package id="RProvider" version="1.1.20" targetFramework="net461" />
  <package id="Streams" version="0.4.0" targetFramework="net461" />
  <package id="Suave" version="2.0.2" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="1.0.21" targetFramework="net461" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net461" />
  <package id="Vagabond" version="0.13.1" targetFramework="net461" />
  <package id="WindowsAzure.ServiceBus" version="3.4.5" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="7.0.0" targetFramework="net461" />
</packages>